.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .aboutMeContainer{
    flex-direction: column;
    padding:1vh 20vw 0 3vw ;
    margin-top: 7vh;
    text-align:left;
  }

  .fontSize{
    font-size:6vh;
  }
   /* .FirstLetter{
    font-size: 2vh;
    font-weight: 600;
   } */

   .myImageContainer{
    margin-left: 15vw;

   }
   .myImage{
    width:20vw;
    border-radius: 50vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   }

   .imgAboutContainer{
    display: flex;
    flex-direction: row;
    height: 50vh;
    margin-top: 12.5vh;
   }

   .tag{
    text-align: center;
    margin:0 30vw 0 20vw;
    color: rgb(44, 44, 44);
    font-size: 3vh;
    background-color: rgb(247, 230, 233);
    padding:.5vh;
    margin-bottom: 35vh;
   }

   .name{
    margin-top: 5vh;
   }

   .paragraph{
    font-size: 3vh;
   }