

.skillsContainer{
    background-color:rgb(234, 138, 115) ;
    margin: 0 10vw 10vh 10vw;
    display: flex;
    border-radius: .5vw;
 
  
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.skillsTitle{
  font-size: 6vh;
  color: #313030;;
  margin: 10vh 10vw 4vh 10vw;
  border-bottom: 2px solid black;
}


.skillsContainer{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.skillsContainer:after {
  content: "";
  background-color: rgb(234, 138, 115, .8);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.skillsContainer:hover:after {
  top: 0px;
  left: 0px;
}


@media screen and (max-width: 600px){

  .skillsTitle{
    font-size: 3vh;
    color: #313030;;
    margin: 10vh 10vw 4vh 10vw;
    border-bottom: 2px solid black;
  }

  .skillsContainer{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}

@media screen and (max-width: 380px){
  .skillsContainer{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    /* padding: 13px 20px 13px; */
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display:flex;
    flex-direction: column;
  }

  .skillsContainer{

    /* margin: 0 10vw 10vh 10vw; */
    display: flex;
    height: 30vh;
    border-radius: .5vw;
 
  
}
}

@media screen and (max-width: 380px){
  .skillsContainer{
    height: 40vh;
    border-radius: .5vw;
 
  
}
}


