.socialLinks{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 4vh;

}
.socialButton{
    border-radius: 5vw;
    margin-left: 1vw;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.fontSizeTitleName{
font-size: 4em;
text-align: center;
background-color: rgb(243, 103, 129);
padding:0 .5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.fontSizeTitle{
font-size: 3em;
text-align: center;
background-color: rgb(247, 230, 233);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
margin-right: 40vw;
}